{% extends 'base.html' %}
{% load static %}
{% block title %}Регистрация{% endblock %}
{% block link %} <link rel="stylesheet" href="{% static 'erp/css/login.css' %}">{% endblock %}

{% block content %}
<nav class="navbar bg-black navbar-dark navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand me-auto" href="/">НЭС</a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Меню</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pr-0">
            <li class="nav-item">
              <a class="nav-link" href="#">О нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Контакты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Портфолио</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Сервис</a>
            </li>
          </ul>
        </div>
      </div>
      {% if user.is_authenticated %}
        <a href="{% url 'erp' %}" class="login-btn link">ERP</a>
        <a href="{% url 'logout' %}" class="login-btn link">Выход</a>
      {% else %}
        <a href="{% url 'login' %}" class="login-btn link">Вход</a>
        <a href="{% url 'signup' %}" class="login-btn link">Регистрация</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
<h2 class="text-center text-white">Регистрация</h2>
<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.email.label_tag }}
    {{ form.email }}
    
    {{ form.first_name.label_tag }}
    {{ form.first_name }}
    
    {{ form.last_name.label_tag }}
    {{ form.last_name }}
    
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    
    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}