{% extends 'base.html' %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'erp/erp.css' %}">
<link rel="stylesheet" href="https://cdn.plot.ly/plotly-latest.min.css">
{% endblock %}
{% block content %}
<main>
    <div class="menu">
        <ul>
            <li><a href="#production">Производство</a></li>
            <li><a href="#reports">Отчеты</a></li>
            <li><a href="#charts">Графики</a></li>
            <li><a href="#warehouse">Склад</a></li>
        </ul>
    </div>
    
    <div class="row">
    <div class="container">    
        <div class="user-info">
            <p class="company-name">{{ user.factory.name }}</p>
            <p class="full-name">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="position">{{ user.role }}</p>
        </div>
    </div>
    <div class="charts">
        <div id="kpi-chart"></div>
        <div id="revenue-chart"></div>
</div>
</div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var kpiData = {
            x: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
            y: [10, 15, 7, 12, 18],
            type: 'bar',
            name: 'KPI',
            marker: {
            color: '#bc1aa9' // Цвет графика KPI
        },
        };
    
        // Пример данных для графика выручки (замените на ваши реальные данные)
        var revenueData = {
            x: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
            y: [2000, 2500, 1800, 2200, 2800],
            type: 'line',
            name: 'Revenue',
            line: {
            color: '#00ff0d' // Цвет графика выручки
        },
        };
        var layout = {
        plot_bgcolor: '#000', // Черный фон графика
        paper_bgcolor: '#000',
        title: {
            text: 'KPI', // Заголовок графика KPI
        font: {
                color: '#fff' // Белый цвет заголовка
            }
        },
        xaxis: {
            tickfont: {
                color: '#eeeeee' // Белый цвет значений по оси X
            },
            gridcolor: '#2f2f2f' // Белая сетка по оси X
        },
        yaxis: {
            tickfont: {
                color: '#eeeeee' // Белый цвет значений по оси X
            },
            gridcolor: '#2f2f2f' // Белая сетка по оси Y
        }
        };
        // Генерация графика KPI
        Plotly.newPlot('kpi-chart', [kpiData],layout);
        layout.title.text = 'Отгрузки';
        // Генерация графика выручки
        Plotly.newPlot('revenue-chart', [revenueData],layout);
        <!-- Добавьте код для других графиков по необходимости -->
    </script>

</main>
{% endblock %}

