{% extends 'erp/erp.html' %}
{% block link %}
  <link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css" />
{% endblock %}

{% block content %}
  <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
  <script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

  <br /><br /><br />

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <!-- График -->
        <div id="chart"></div>

        <script>
          $(function () {
            $('#chart').shieldChart({
              theme: 'light',
              primaryHeader: {
                text: 'Стоимость акций НЭС'
              },
              exportOptions: {
                image: false,
                print: false
              },
              axisY: [
                {
                  min: 1,
                  max: 60,
                  title: {
                    text: 'Средняя заработная плата в НЭС (тысяч долларов США)',
                    style: {
                      color: '#4DB0F5'
                    }
                  },
                  axisTickText: {
                    style: {
                      color: '#4DB0F5'
                    }
                  }
                },
                {
                  min: 1,
                  max: 5,
                  title: {
                    text: 'Цены на газ (долл./галлон)',
                    style: {
                      color: '#FFC500'
                    }
                  },
                  swapLocation: true,
                  axisTickText: {
                    style: {
                      color: '#FFC500'
                    }
                  }
                },
                {
                  min: 1,
                  max: 120,
                  title: {
                    text: 'Проданных подписок на НЭС',
                    style: {
                      color: '#FF1800'
                    }
                  },
                  swapLocation: true,
                  axisTickText: {
                    style: {
                      color: '#FF1800'
                    }
                  }
                }
              ],
              dataSeries: [
                {
                  seriesType: 'line',
                  axis: 0,
                  collectionAlias: 'Зарплата',
                  data: [42.7, 52.8, 63.1, 23.5, 53, 55.8, 57.7]
                },
                {
                  seriesType: 'line',
                  axisY: 1,
                  collectionAlias: 'Цены на газ (долл./галлон)',
                  data: [2.75, 2.8, 2, 2.55, 2.6, 2.9, 3.05]
                },
                {
                  seriesType: 'line',
                  axisY: 2,
                  collectionAlias: 'Продажи подписок НЭС',
                  data: [20, 25, 38, 46, 57, 82, 112]
                }
              ]
            })
          })
        </script>
        <!-- /.График -->
      </div>
      <!-- /.col-md-8 col-md-offset-2 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}
