{% extends 'base.html' %}

{% load static %}

{% block title %}НЭС{% endblock %}
{% block link %} <link rel="stylesheet" href="{% static 'erp/index.css' %}">{% endblock %}
{% block content %}

<main>
    <section class= "main-part">
        <h2>Почему важно использовать ERP для развития бизнеса?</h2>
        <p>
            ERP системы являются важным инструментом для эффективного управления бизнес-процессами.
            Наша ERP система предоставляет широкий функционал и включает в себя искусственный интеллект,
            что делает ее непревзойденным решением для современного бизнеса.
        </p>
        <br>
        <p>
            Выбирая нашу ERP систему, вы получаете доступ к передовым технологиям и интеллектуальным
            возможностям, способствующим росту и успешному развитию вашей компании.
        </p>
    </section>
    <section class= "main-part-3">
        <h2>Что делает китаяночка?</h2>
        <p>
            Сосет хуй
        </p>
    </section>
</main>
<footer>
    <!-- Напишите что-то для футера -->
</footer>
{% endblock %}