{% extends 'base.html' %}

{% block title %}НЭС{% endblock %}

{% block content %}
<main>
    <div class="cursor"></div>
    <script>
        var cursor = document.querySelector(".cursor");

        function updateCursorPosition(e) {
            requestAnimationFrame(function() {
                cursor.style.cssText = "left: " + e.clientX + "px; top: " + e.clientY + "px;";
            });
        }
        document.addEventListener("mousemove", updateCursorPosition);
    </script>
    <section>
        <h2>Почему важно использовать ERP системы для развития бизнеса?</h2>
        <p>
            ERP системы являются важным инструментом для эффективного управления бизнес-процессами.
            Наша ERP система предоставляет широкий функционал и включает в себя искусственный интеллект,
            что делает её непревзойденным решением для современного бизнеса.
        </p>
        <p>
            Выбирая нашу ERP систему, вы получаете доступ к передовым технологиям и интеллектуальным
            возможностям, способствующим росту и успешному развитию вашей компании.
        </p>
    </section>
    
</main>
<footer>
    <!-- Напишите что-то для футера -->
</footer>
{% endblock %}