{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'erp/index.css' %}">
    <title>НЭС</title>
    <!-- Ваши стили могут быть подключены здесь -->
</head>
<body>

<header>
    <div>
        <h1>НЭС</h1>
        <nav>
            <a href="#">Зарегистрироваться</a>
            <a href="#">Войти</a>
        </nav>
    </div>
</header>

<main>
    <section>
        <h2>Почему важно использовать ERP системы для развития бизнеса?</h2>
        <p>
            ERP системы являются важным инструментом для эффективного управления бизнес-процессами.
            Наша ERP система предоставляет широкий функционал и включает в себя искусственный интеллект,
            что делает ее непревзойденным решением для современного бизнеса.
        </p>
        <p>
            Выбирая нашу ERP систему, вы получаете доступ к передовым технологиям и интеллектуальным
            возможностям, способствующим росту и успешному развитию вашей компании.
        </p>
    </section>
</main>
<footer>
<!--Надо как то заполнить я не придумал-->
</footer>
</body>
</html>
