@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 5%;
    background-color: #ffffff;
    height: auto;
    font-family: 'Muli', sans-serif;
}

ul {
  padding-left: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    position: fixed; /* Закрепляем шапку на верхней части страницы */
    top: 0; /* Располагаем шапку вверху страницы */
    width: 100%; /* Делаем ширину шапки равной ширине экрана */
    z-index: 999; /* Устанавливаем z-index, чтобы шапка была выше других элементов */
}

.header-col {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}
nav a:hover{
    color: #00b3ff;
}

.text {
    padding: auto;
    top: 60%;
    transform: translateX(-50%);
    list-style: none;
    border-bottom: 0;
}

.text li {
display: inline-block;
float:left;
font-weight: 700;
font-size: 1em;
color: #fff;
opacity: 1;
transition: all 1.0s ease-in-out;
max-width: 2em;
}

.text.hidden li.spaced {
padding-left: 0;
}

.text li.spaced {
padding-left: 0.5em;
}

.text.hidden li.ghost {
opacity: 0;
max-width: 0;
}


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.text {
  cursor: pointer;
  padding: auto;
  top: 60%;
  transform: translateX(-50%);
  list-style: none;
  border-bottom: 0;
  margin-bottom: 0;
}