header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    position: fixed; /* Закрепляем шапку на верхней части страницы */
    top: 0; /* Располагаем шапку вверху страницы */
    width: 100%; /* Делаем ширину шапки равной ширине экрана */
    z-index: 999; /* Устанавливаем z-index, чтобы шапка была выше других элементов */
}

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

header div {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}
nav a:hover{
    color: #00b3ff;
}

.text {
    padding: auto;
    top: 60%;
    list-style: none;
    border-bottom: 0;
}

.text li {
display: inline-block;
float:left;
font-weight: 700;
font-size: 1em;
color: #fff;
opacity: 1;
transition: all 1.0s ease-in-out;
max-width: 2em;
}

.text.hidden li.spaced {
padding-left: 0;
}

.text li.spaced {
padding-left: 0.5em;
}

.text.hidden li.ghost {
opacity: 0;
max-width: 0;
}