@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
.menu {
    background-color: #2f2f2f; /* Цвет фона меню */
    padding: 10px; /* Внутренний отступ меню */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px; /* Расстояние между пунктами меню */
}

.menu a {
    text-decoration: none;
    color: #e1e1e1; /* Цвет текста меню */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

.menu a:hover {
    color: #00b3ff; /* Цвет текста меню при наведении */
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 5%;
    background-color: #000000;
    height: auto;
    font-family: 'Muli', sans-serif;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    position: fixed; /* Закрепляем шапку на верхней части страницы */
    top: 0; /* Располагаем шапку вверху страницы */
    width: 100%; /* Делаем ширину шапки равной ширине экрана */
    z-index: 999; /* Устанавливаем z-index, чтобы шапка была выше других элементов */
}

header div {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}
nav a:hover{
    color: #00b3ff;
}

.text {
    padding: auto;
    top: 60%;
    transform: translateX(-50%);
    list-style: none;
    border-bottom: 0;
}

.text li {
display: inline-block;
float:left;
font-weight: 700;
font-size: 1em;
color: #fff;
opacity: 1;
transition: all 1.0s ease-in-out;
max-width: 2em;
}

.text.hidden li.spaced {
padding-left: 0;
}

.text li.spaced {
padding-left: 0.5em;
}

.text.hidden li.ghost {
opacity: 0;
max-width: 0;
}

body {
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем отступы по умолчанию */
}
.row {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    height: auto
}
.container {
    border-radius: 10%;
    background: #737373;
    width: 20%;
    height: 20rem;
    margin-left: 10px; /* Регулируем отступ слева по вашему усмотрению */
    margin-right: 10px; /* Отступ между контейнером и графиками */
    display: flex; /* Используем флексбокс для размещения элементов внутри контейнера */
    flex-direction: column; /* Располагаем элементы в столбец */
    float: left;
}

.charts {
    width: 100%;
    flex-direction: row; /* Ширина блока с графиками, можете настроить по вашему усмотрению */
    display: flex; /* Используем флексбокс для размещения элементов внутри блока с графиками */
}
#kpi-chart,
#revenue-chart {
    width: 100%; /* Ширина графиков, можете настроить по вашему усмотрению */
    height: 60%;
}

h1 {
    color: #454545;
    text-align: center;
}

.user-info {
    flex: 1; /* Занимаем доступное пространство в высоту */
    padding: 10px; /* Добавим немного отступов для внутреннего контента */
}

.company-name {
    padding-top: 3%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #93d4ff;
}

.position {
    padding-top: 3%;
    font-size: 1.1em;
    color: #555;
}

.full-name {
    padding-top: 3%;
    font-size: 1.3em;
    color: #f2f2f2;
}
main {
    margin-top: 2.4%;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1 1 20%;
}

.task-column {
    padding: 5%;
    margin: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#todo-column {
    background-color: #ffd700; /* Цвет для столбца "Надо сделать" */
}

#in-progress-column {

    background-color: #87ceeb; /* Цвет для столбца "В работе" */
}

#done-column {
    background-color: #90ee90; /* Цвет для столбца "Выполнено" */
}

.task-column h3 {
    text-align: center;
    margin-bottom: 10px;
    color:#f2f2f2;
}