@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 5%;
    background-color: #000000;
    height: auto;
    font-family: 'Muli', sans-serif;
}
form{
    color:white;
}
header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    position: fixed; /* Закрепляем шапку на верхней части страницы */
    top: 0; /* Располагаем шапку вверху страницы */
    width: 100%; /* Делаем ширину шапки равной ширине экрана */
    z-index: 999; /* Устанавливаем z-index, чтобы шапка была выше других элементов */
}

header div {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
}

main {
    margin-top: 10%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #444444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
    padding: auto;
    top: 60%;
    transform: translateX(-50%);
    list-style: none;
    border-bottom: 0;
}

.text li {
display: inline-block;
float:left;
font-weight: 700;
font-size: 1em;
color: #fff;
opacity: 1;
transition: all 1.0s ease-in-out;
max-width: 2em;
}
.text.hidden li.spaced {
padding-left: 0;
}
.text li.spaced {
padding-left: 0.5em;
}

.text.hidden li.ghost {
opacity: 0;
max-width: 0;
}

form {
    max-width: 300px;
    margin: 0 auto;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff0000;  /* Цвет текста ошибки */
    margin-top: 5px; /* Дополнительный отступ сверху для сообщения об ошибке */
}